{% extends 'base.html' %} {% load static %} {% block title %} | Cart{% endblock %} {% block content %}
<section id="thankyou">
    <div class="container">
      <div class="row text-center">
          <div class="col-10 mx-auto">
            <div class="card mb-5">
                <div class="card-header text-dark">
                Thank you for your order!
                </div>
                <div class="card-body text-dark">
                        <p>Your order number is <b>{{ customer_order.id }}</b>.</p>
                        <p>A confirmation email has been sent.</p>
                </div>
            </div>
          </div>
      </div> 
    </div>
</section>
{% endblock %}